* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    color: #404040;
    flex-grow: 0;
    flex-shrink: 0;
    text-decoration: none;
}


body {
    position: relative;
    margin: auto;
    background-color: rgba(233, 240, 245, 1);    
}

.header-flex {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header-flex .header-knapper a {
    margin: 100px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.header-flex .header-knapper .not-active {
    box-shadow: 0px 2px 0px rgba(233, 240, 245, 1);
}

.header-flex .header-knapper a:hover {
    color: rgb(18, 168, 244);
    box-shadow: 0px 2px 0px rgb(18, 168, 244);
    transition: 0.2s ease-in-out;
}


.header-flex .logo {
    padding-left: 100px;
}

.header-flex .logo a {
    font-size: 50px;
}

.left {
    z-index: -1;
    background-color: rgba(247, 70, 161, 1);
    width: 70%;
    transition: 0.2s ease-in-out;
}

.left a {
    color: rgba(233, 240, 245, 1);
}

.right {
    z-index: -2;
    left: 48%;
    background-color: rgb(253, 182, 219);
    padding-left: 20px;
    width: 60%;
    transition: 0.2s ease-in-out;
}

.right a {
    padding-left: 14px;
}

.container {
    z-index: 0;
    position: relative;
    width: 230px;
    height: 50px;
    margin-right: 130px;
}

.container>div {
    top: 0;
    position: absolute;
    height: 100%;
    border-radius: 50px;
    
}

.container>.left:hover {
    background-color: rgb(255, 0, 132);
}

.container>.right:hover {
    background-color: rgb(255, 27, 145);
}

.container>div>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.header-flex .active {
    color: rgba(18, 168, 244, 1);
    box-shadow: 0px 2px 0px rgb(18, 168, 244);
    transition: 0.2s ease-in-out;
}


.hero{
    height: calc(100vh - 140px);
    display: flex;
    justify-content: space-between ;
}

.tekstHjemmeside{
    display: flex;
    flex-direction: column;
    margin: 20vh 0px 0px 100px;

}

.overskriftHjemmeside{
    font-size: 40px;
    margin-bottom: 30px;
}

.tekstLitenHjemmeside{
    width: 30vw;
}

.hero div {
    height: inherit;
    width: auto;
}

.hero div .img {
    width: auto;
    height: calc(80vh - 140px);
    position: absolute;
    right: 10px;
    bottom: 0;
}



@media screen and (min-width: 1920px) {
    body {
        max-width: 1920px;
    } 
}


@media screen and (min-width: 2560px ) {

    body {
        max-width: 2560px;
    }

    .header-flex .header-knapper a {
        margin: 0 150px;
        font-size: 30px;
    }

    .container {
        width: 340px;
        height: 70px;
    }
    
    .container>div>a {
        font-size: 30px;
    }

}